@page "/"
@using AccountManager.Components
@using AccountManager.Core.Interfaces
@using AccountManager.Core.ViewModels
@using AccountManager.Infrastructure.Services

<div class="container-fluid" style="font-family:Roboto; background-color:var(--primary-light); color:var(--secondary-light)">
        <AccountListItem ListViewModel="viewModel"></AccountListItem>
</div>

@code{
    private AccountListItemViewModel viewModel {get; set;}

    protected override async Task OnInitializedAsync()
    {
        viewModel = new AccountListItemViewModel()
        {
            Name = "Smoku Broku",
            Account = new Core.Models.Account
            {
                Password = "Smellyfruit1946!",
                Username = "smokubroku"
            }
        };
        viewModel.LoginService = new LeagueLoginService();
    }
}